.mastersBoard {
  /* max-width: 100%; */
  max-height: 280px;
}

.redStar {
  color: #cc0000;
}

.masterBigPic {
  max-width: 800px;
}

.bordered {
  border: 1px solid green;
}

.borderedRed {
  border: 1px solid red;
}

.main-container {
  /* min-width: 200px;
  max-width: 300px; */
}

.noPaddingLeft {
  padding-left: 0px;
}

.limitedSize {
  max-width: 400px;
}

@media screen and (max-width: 376px) {
  .limitedSize {
    max-width: 100%;
  }
}

.noDecor {
  text-decoration: none;
  color: black;
}

.noDecor:hover {
  text-decoration: none;
  color: black;
}

.gap {
  height: 30px;
}
